#bannerTop{
    position: fixed;
    height: 2.2rem;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #225;
    text-shadow: 0 1px 0 #ddf;
    background-color: lightblue;
}

#photo{
    background: url(favicon.png) no-repeat center;
    background-size: contain;
    width: 3rem;
    padding-bottom: 3rem;
    border-radius: 50%;
    float: right;
}


